@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-logo: 'Dancing Script', cursive;
  --color-primary: #ddbeaa;
  --color-secondary: #bbc6c8;
  --color-primary-hover: #d1b5a2;
}

@layer base {
  html {
    font-family: var(--font-sans);
    box-sizing: border-box;
  }

  body {
    background-color: #e5e3e4;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #f9f9f9;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #aaaaab;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #6c6c6c;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
}
